.vscode/**
.github/**
src/**
out/**
node_modules/**
**/*.map
.gitignore
.mocharc.json
tsconfig.json
pnpm-lock.yaml
**/*.ts
scripts/**
images/*.svg
images/*-og.png
!images/bc-object-range-analyzer.png
esbuild.js
.npmrc
*.vsix
